.wrapper {
    /* background: gold;s */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.class-1 {
    background: turquoise;
    grid-column-start: 1;
    grid-column-end: 3;
}

.class-2 {
    background: tomato;
}

.class-3 {
    background: teal;
    grid-row-start: 2;
    grid-row-end: 4;
}

.class-4 {
    background: thistle;
    grid-column-start: 2;
    grid-column-end: 4;
}

.class-5 {
    background: orchid;
}

.class-6 {
    background: firebrick;
}