.container {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 200px 50px;
}

.header {
    grid-column: 1 / -1;
    background: turquoise;
    display: flex;

}

.header > div {
    margin: 10px;
}

.header > div:nth-child(3) {
    margin-left: auto;
}

.menu {
    grid-column: 1 / 2;
    background: peru;
}

.content {
    grid-column: 2 / -1;
    background: indianred;
}

.footer {
    grid-column: 1 / -1;
    background: thistle;
}